.block-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  
  hr {
    height: 5px;
    width: 200px;
    background-color: $link_color;
    border: 0px;
    margin-top: 3px;
    margin-bottom: 20px;
  }
}

.users-number {
  background-color: red;
  color: white;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  opacity: 0.8;
}

.block-body {
  font-size: 16px;
  margin-bottom: 10px; 
}

.landing-block {
  min-height: 140px;
}

.no-bullet-list {
  list-style-type: none;
}