$body_background: white;

body {
  margin: 0; 
  background-color: $body_background; 
}

div#map {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 400px;
  width: 400px;
  background-color: green;
  
  div#dragger {
    cursor: crosshair;
    height: 20px;
    background-color: blue;
  }
  div#draw_area {
    height: 380px;
  }
}

div.specific_project {
  margin: 10px;
  
  div.project_description {
    background-color: lightgreen;
    margin: 10px 0px 10px 0px;
    padding: 5px;
  }
  
  div.controls {
    background-color: #EEB8FC;
    margin: 10px 0px 10px 0px;
    padding: 5px;  
  }
  
  div.editor {
    background-color: #B8E8FC;
    margin: 10px 0px 10px 0px;
    padding: 5px;      
    
    div.converter {
      margin: 5px;
      padding: 5px;
      background-color: #FFA7A5;
    }
  }
  
  div.flats {
    background-color: orange;
    margin: 10px 0px 10px 0px;
    padding: 5px;  
  }
}

div.projects {
  margin: 10px;
  
  div.new_project_form {
    background-color: orange;
    margin: 10px 0px 10px 0px;    
    padding: 5px;
    
    div span b {
      cursor: pointer;
    }
  }
  
  div.projects_form {
    margin: 10px 0px 10px 0px;
    padding: 5px;
    background-color: lightgreen;
    
    div b.project_name {
      color: blue;
      cursor: pointer;
    }
    
    button {
      cursor: pointer;
    }
  }
}