$body_background: white;

body {
  margin: 0; 
  background-color: $body_background; 
}

div.specific_project {
  margin: 10px;
  
  div.project_description {
    background-color: lightgreen;
    margin: 10px 0px 10px 0px;
    padding: 5px;
  }
  
  div.controls {
    background-color: #EEB8FC;
    margin: 10px 0px 10px 0px;
    padding: 5px;  
  }
  
  div.editor {
    background-color: #B8E8FC;
    margin: 10px 0px 10px 0px;
    padding: 5px;    
  }
  
  div.flats {
    background-color: orange;
    margin: 10px 0px 10px 0px;
    padding: 5px;  
  }
}

div.projects {
  margin: 10px;
  
  div.new_project_form {
    background-color: orange;
    margin: 10px 0px 10px 0px;    
    padding: 5px;
    
    div span b {
      cursor: pointer;
    }
  }
  
  div.projects_form {
    margin: 10px 0px 10px 0px;
    padding: 5px;
    background-color: lightgreen;
    
    div b.project_name {
      color: blue;
      cursor: pointer;
    }
    
    button {
      cursor: pointer;
    }
  }
}