$body_background: white;
$link_color: #337ab7;
$hover_link_color: #23527C;

body {
  margin: 0; 
  background-color: $body_background; 
}

div#draw_area {
  width: 95%;
  margin: auto;
  height: 400px;
  margin-bottom: 20px;
}
/*
div#map {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 400px;
  width: 400px;
  background-color: green;
  
  div#dragger {
    cursor: crosshair;
    height: 20px;
    background-color: blue;
  }
  div#draw_area {
    height: 380px;
  }
}
*/
div#loading {
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #2ECC71;
  z-index: 1000;
  display: none;
  text-align: center;
  
  img {
    margin-top: 25%;
  }
}

.warning {
  border-color: #FF0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}