div.projects {
  margin: 10px;
  
  div.new_project_form {
    background-color: orange;
    margin: 10px 0px 10px 0px;    
    padding: 5px;
    
    div span b {
      cursor: pointer;
    }
  }
  
  div.projects_form {
    margin: 10px 0px 10px 0px;
    padding: 5px;
    background-color: lightgreen;
    
    div b.project_name {
      color: blue;
      cursor: pointer;
    }
    
    button {
      cursor: pointer;
    }
  }
}

.desc-label {
  color: #2A5BB7;
  margin-right: 5px;
}

.owner-badge {
  display: block;
  width: 80px;
  position: relative;
  top: -20px;
  float: right;
  right: 10px;
}

.no-border {
  border: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.no-bottom {
  margin-bottom: 5px;
}

.custom-link {
  color: $link_color;
  font-weight: bold;
}
.custom-link:hover {
  color: $hover_link_color;
  cursor: pointer;
  text-decoration: underline;
}

.project-header-btns {
  float: right;
  position: relative;
  top: -25px;
}

.custom-label {
  font-weight: normal;
  color: #2A5BB7;
}

.custom-row {
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (min-width: 992px) {
  .custom-row-project {
    padding-left: 133px;
    margin-right: -78px;
  }
}
@media only screen and (max-width: 992px) {
  .custom-row-project {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.point-hand {
  cursor: pointer;
}

.search-list {
  position: absolute;
  left: 77px;
  top: 33px;
  z-index: 2;
}

.users-list-block {
  font-size: 12px;
  margin-top: 5px; 
  
  span:hover {
    background-color: #D9534F;
  }
  
  span {
    cursor: not-allowed;
    margin-right: 5px;
  }  
}