$top_bg_color: yellow;
$auth_menu_color: #EFDBC6;
$nav_menu: #C4EDDD;

div.top { 
  margin: 0; 
  padding: 0;
  background-color: $top_bg_color;
  
  div.auth_menu {
    float: right;
    right: 0px;
    width: 300px;
    background-color: $auth_menu_color;
  }
  
  div.nav_menu {
    background-color: $nav_menu;
    text-align: center;
  }
}