<div class="container-fluid landing-block">
  <div class="block-title">{{LNG.whats_for}}?<hr></div>
  <div class="block-body" style="text-align:center;">
    {{LNG.whats_for_description}}
  </div>
</div>
<div class="container-fluid landing-block">
  <div class="block-title">{{LNG.users}}<hr></div>
  <div class="block-body col-sm-4 col-sm-offset-4">
    <ul class="no-bullet-list">
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.future_tenants}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.future_owners}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.realtors}}</li>     
    </ul>
  </div>
</div>
<div class="container-fluid landing-block">
  <div class="block-title">{{LNG.targets}}<hr></div>
  <div class="block-body col-sm-4 col-sm-offset-4">
    <ul class="no-bullet-list">
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.apartments}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.houses}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.country_houses}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.other_property}}</li>      
    </ul>
  </div>
</div>
<div class="container-fluid landing-block">
  <div class="block-title">{{LNG.advantages}}<hr></div>
  <div class="block-body col-sm-4 col-sm-offset-4">
    <ul class="no-bullet-list">    
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.display_on_map}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.group_editing}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.contact_log}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.money_converter}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.call_history_tracker}}</li>      
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.photos}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.bunch_of_filters}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.cvs_reports}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.free_account}}</li>      
    </ul>
  </div>
</div>