<!-- Styles are described in "about.scss" -->
<div class="container-fluid landing-block" style="min-height: 20px;">
  <div class="block-body">
    <div class="block-title">{{LNG.info}}<hr></div>
    <div class="block-body" style="text-align:center;">
      {{LNG.contacts_description}}  
    </div>
  </div>
</div>
<div class="container-fluid landing-block">
  <div class="block-title">{{LNG.possible_questions}}<hr></div>
  <div class="block-body col-sm-4 col-sm-offset-4">   
    <ul class="no-bullet-list">
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.premium_features}}</li>    
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.improvements}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.bug_reports}}</li>     
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.business_offers}}</li>
      <li><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{LNG.other}}</li>      
    </ul>
  </div>
</div>
<div class="container-fluid landing-block">
  <div class="block-title">{{LNG.contacts}}<hr></div>
  <div class="block-body col-sm-4 col-sm-offset-4">   
    <ul class="no-bullet-list">
      <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;admin@estate-hunt.com</li>
      <li><i class="fa fa-skype"></i>&nbsp;&nbsp;apollo-product</li>     
    </ul>
  </div>
</div>


    