<div class="login">
  <input type="checkbox" ng-model="wannaDelete">Delete account?
  <form>
    Name: <input type="email" ng-model="user.user.name" ng-disabled="wannaDelete"/><br>
    Age: <input ng-model="user.user.age" ng-disabled="wannaDelete"/><br>
    E-mail: <input type="email" ng-model="user.user.mail" ng-disabled="wannaDelete"/><br>
    Phone: <input type="text" ng-model="user.user.phone" ng-disabled="wannaDelete"/><br>
    Country: <input type="text" ng-model="user.user.country" ng-disabled="wannaDelete"/><br>
    State: <input type="text" ng-model="user.user.state" ng-disabled="wannaDelete"/><br>
    City: <input type="city" ng-model="user.user.city" ng-disabled="wannaDelete"/><br>
    Language: <select ng-options="lang for lang in langs" ng-model="user.user.lang" ng-disabled="wannaDelete"></select><br>
    Old password: <input type="password" ng-model="user.user.oldPassword"/><br>
    New password: <input type="password" ng-model="user.user.password" ng-disabled="wannaDelete"/><br>
    <input type="submit" ng-click="update(user)" ng-hide="wannaDelete" value="Update"/>
    <input type="submit" ng-click="delUser(user.user.oldPassword)" value="Delete" ng-show="wannaDelete"/>
    <a ui-sref="project">Cancel</a>
  </form>
</div>