<div class="control-buttons">
  <button class="btn btn-success" ng-click="editorOn()">
    <i class="glyphicon glyphicon-home"></i>&nbsp;{{LNG.new | capitalize}}
  </button>
  <button class="btn btn-success" ng-click="moveToMap()">
    <i class="fa fa-map-o"></i>&nbsp;{{LNG.map | capitalize}}
  </button>  
  <button class="btn btn-success" ng-click="moveToTable()">
    <i class="fa fa-table"></i>&nbsp;{{LNG.table | capitalize}}
  </button>      
</div>

<div class="container-fluid">
  <!-- Editor panel -->
  <div class="col-md-4" ng-show="showEditor" id="editor">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">
          {{toEdit.name | capitalize}}
        </div>
        <button class="btn btn-default panel-button" ng-click="save()"><i class="fa fa-floppy-o"></i></button>                
        <button class="btn btn-default panel-button" ng-click="editorOff()"><i class="fa fa-remove"></i></button>
        <span class="badge owner-badge" style="margin-right:-13px;">{{toEdit.display ? LNG.display : LNG.hide}}</span>                         
        <input class="project-header-btns" style="top:-22px; right:13px;" type="checkbox" ng-model="toEdit.display"></input>        
      </div>
      <div class="panel-body">
        <div ng-show="error!=''" class="alert alert-danger col-md-12">
          <b>{{LNG.error | capitalize}}:</b> {{error}}
        </div>      
        <form class="form-horizontal" role="form">
          <!-- Address -->
          <div class="form-group no-bottom">
            <span class="control-label custom-label col-md-3" style="margin-top:7px;">{{LNG.address | capitalize}}*:</span>            
            <div class="col-md-9"> 
              <input id="address" type="text" class="form-control" ng-class="{'warning': warn_address}" ng-model="toEdit.address" ng-change="customFilter('address')" placeholder="{{LNG.address}}">
              <input-cleaner action="toEdit.address=''" style="right:25px"></input-cleaner>              
            </div>          
          </div>
          <!-- Phones -->
          <div class="form-group no-bottom">
            <span class="control-label custom-label col-md-3" style="">{{LNG.phone | capitalize}}:</span>          
            <div class="row custom-row-project">          
              <div class="input-group col-md-9">
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="tmpPhone=''"><i class="glyphicon glyphicon-erase"></i></button>
                  <button class="btn btn-default" ng-click="pushPhone()"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <input type="text" class="form-control" ng-class="{'warning': warn_phone}" ng-model="tmpPhone" ng-change="customFilter('phone')" ng-enter="pushPhone()" placeholder="{{LNG.phone}}">
              </div>  
              <div class="users-list-block">            
                <span class="label label-primary" ng-repeat="phone in toEdit.phones" ng-click="removePhone(phone)">{{phone.phone}}</span>
              </div>
            </div>
          </div> 
          <!-- Link -->
          <div class="form-group no-bottom">             
            <span class="control-label custom-label col-md-3">{{LNG.link | capitalize}}:</span>            
            <div class="col-md-9">
              <input type="text" class="form-control" ng-class="{'warning': warn_link}" ng-model="toEdit.link" ng-change="customFilter('link')" placeholder="http://">
              <input-cleaner action="toEdit.link=''" style="right:25px"></input-cleaner>
              </input>
            </div>          
          </div>  
          <!-- Contact -->
          <div class="form-group no-bottom">              
            <span class="control-label custom-label col-md-3">{{LNG.contact | capitalize}}:</span>            
            <div class="col-md-9"> 
              <input type="text" class="form-control" ng-class="{'warning': warn_contact}" ng-model="toEdit.contact" ng-change="customFilter('contact')" placeholder="{{LNG.contact}}">
              <input-cleaner action="toEdit.contact=''" style="right:25px"></input-cleaner>
              </input>
            </div>                   
          </div>
          <!-- Floor -->
          <div class="form-group no-bottom">            
            <span class="control-label custom-label col-md-3">{{LNG.floor | capitalize}}:</span>            
            <div class="col-md-9"> 
              <input type="text" class="form-control" ng-class="{'warning': warn_floor}" ng-model="toEdit.floor" ng-change="customFilter('floor')" placeholder="{{LNG.floor}}">
              <input-cleaner action="toEdit.floor=''" style="right:25px"></input-cleaner>
              </input>
            </div>                    
          </div>  
          <!-- Build Year -->
          <div class="form-group no-bottom">            
            <span class="control-label custom-label col-md-3">{{LNG.year | capitalize}}:</span>            
            <div class="col-md-9"> 
              <input type="text" class="form-control" ng-class="{'warning': warn_year}" ng-model="toEdit.buildYear" ng-change="customFilter('buildYear')" placeholder="{{LNG.year}}">
              <input-cleaner action="toEdit.buildYear=''" style="right:25px"></input-cleaner>
              </input>
            </div>          
          </div>  
          <!-- Price -->
          <div class="form-group no-bottom">
            <span class="control-label custom-label col-md-3">{{LNG.price | capitalize}}:</span>                      
            <div class="row custom-row-project">              
              <div class="input-group col-md-9"> 
                <span class="input-group-addon">
                  <i class="fa fa-calculator" style="display:inline-block;position:relative;top:-2px;"></i>
                  <input type="checkbox" ng-model="converterUsage">
                </span>              
                <input type="text" class="form-control" ng-class="{'warning': warn_price}" ng-model="toEdit.price" ng-change="customFilter('price')" placeholder="{{LNG.price}}" ng-disabled="converterUsage">
                <input-cleaner action="toEdit.price=''" ng-hide="converterUsage"></input-cleaner>
                </input>
              </div>          
            </div>            
          </div>
          <!-- Converter -->
          <div class="form-group no-bottom" ng-show="converterUsage">
            <div class="row custom-row">              
              <div class="panel panel-success">
                <div class="panel-heading"><div class="panel-title">{{LNG.converter | capitalize}}</div></div>
                <div class="panel-body">
                  <converter lbl1="LNG.rate | capitalize" lbl2="LNG.price | capitalize" lbl2change="converterPriceChanged(price)" rate="exchangeRate"></converter>
                </div>
              </div>
            </div>            
          </div>
          <!-- Call History -->
          <div class="form-group no-bottom">            
            <span class="control-label custom-label col-md-3">{{LNG.call | capitalize}}:</span>            
            <div class="col-md-9"> 
              <select class="form-control" ng-options="callHist.name as callHist.value for callHist in callHistoryOptions" ng-model="toEdit.callHistory" ng-change="callHistoryChanged()"></select>
            </div>                     
          </div>  
          <!-- Checkboxes -->
          <div class="form-group no-bottom">
            <span class="control-label custom-label col-md-3">{{LNG.other | capitalize}}:</span>            
            <div class="col-md-9" style="margin-top:8px;">
              <!-- Owner -->
              <div class="other-checkbox">
                <i class="fa fa-key" title="{{LNG.owner | capitalize}}"></i><input type="checkbox" ng-model="toEdit.owner">
              </div>
              <!-- Subway -->
              <div class="other-checkbox">
                <i class="fa fa-subway" title="{{LNG.subway | capitalize}}"></i><input type="checkbox" ng-model="toEdit.subway">
              </div>   
              <!-- Shop -->
              <div class="other-checkbox">
                <i class="fa fa-shopping-cart" title="{{LNG.shop | capitalize}}"></i><input type="checkbox" ng-model="toEdit.shop">
              </div>   
              <!-- Park -->
              <div class="other-checkbox">
                <i class="fa fa-tree" title="{{LNG.park | capitalize}}"></i><input type="checkbox" ng-model="toEdit.park">
              </div>   
              <!-- School -->
              <div class="other-checkbox">
                <i class="fa fa-graduation-cap" title="{{LNG.school | capitalize}}"></i><input type="checkbox" ng-model="toEdit.school">
              </div>   
              <!-- Day Care -->
              <div class="other-checkbox">
                <i class="fa fa-child" title="{{LNG.day_care | capitalize}}"></i><input type="checkbox" ng-model="toEdit.daycare">
              </div>  
              <!-- Last Floor -->
              <div class="other-checkbox">
                <i class="fa fa-building" title="{{LNG.last_floor | capitalize}}"></i><input type="checkbox" ng-model="toEdit.lastfloor">
              </div>                 
            </div>           
          </div>          
          <!-- Rating -->
          <div class="form-group no-bottom">
            <span class="control-label custom-label col-md-3">{{LNG.stars | capitalize}}:</span>
            <div class="col-md-9" style="margin-top:8px;">
              <rating rate="toEdit.stars"></rating>
            </div>          
          </div> 
          <!-- Photos -->
          <!-- Upload button -->
          <div class="form-group no-bottom">
            <span class="control-label custom-label col-md-3">{{LNG.photos | capitalize}}:</span>          
            <div class="row custom-row-project">
              <div class="input-group col-md-9" style="margin-top:4px;">
                <input type="file" nv-file-select="" uploader="uploader" ng-show="toEdit.images.length < max_images"/>
              </div>
            </div>
            <!-- List of uploaded photos -->
            <div class="row custom-row" ng-show="toEdit.images.length>0">
              <div class="panel panel-default" style="margin-top:10px;padding:0px 5px 5px 5px;">
                <div ng-repeat="image in toEdit.images" style="float:left;position:relative;margin: 5px 5px 0px 0px;">
                  <img ng-src="{{image.img}}" height="100"></img>
                  <button class="btn btn-danger btn-xs" style="width:22px;position:absolute;right:0px;top:0px;" ng-click="removeImage(image)"><i class="fa fa-remove" ng-click=""></i></button>
                  <button class="btn btn-success btn-xs" style="width:22px;position:absolute;right:0px;top:22px;" ng-click="makeCover(image)"><i class="fa fa-star" ng-click=""></i></button>
                </div>
                <div style="clear:both;"></div>
              </div>
            </div>
            <!-- Queue of photos to upload -->
            <div class="row custom-row" ng-show="uploader.queue.length>0" style="clear:both;">
              <div class="panel panel-default" style="margin-top:10px;">
                <div class="container-fluid" ng-repeat="item in uploader.queue" style="margin-top:10px;">
                  <div class="col-sm-4 upload-list" style=""><span ng-bind="item.file.name"></span></div>                    
                  <div class="col-sm-4"><div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div></div>
                  <div class="col-sm-4">
                    <button class="btn-bottom btn btn-success" ng-click="item.upload()">{{LNG.upload}}</button>
                    <button class="btn-bottom btn btn-warning" ng-click="item.remove()">{{LNG.cancel}}</button>                    
                  </div>
                </div>              
              </div>
            </div>
          </div>  
          <!-- Save, Cancel buttons -->
          <div class="form-group no-bottom">
            <div class="row custom-row">
              <div class="input-group col-md-11 col-md-offset-1" style="margin-top:8px;">
                <button class="btn btn-warning" ng-click="editorOff()"><i class="fa fa-remove"></i>&nbsp;{{LNG.cancel | capitalize}}</button>                              
                <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i>&nbsp;{{LNG.confirm | capitalize}}</button>
              </div>
            </div>            
          </div>           
        </form>
      </div>
    </div>
  </div>
  
  <!-- Filter panel -->  
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          {{LNG.filters | capitalize}}
        </div>
        <button class="btn btn-default panel-button" ng-click="showFilterPanel=!showFilterPanel"><i class="glyphicon glyphicon-resize-small"></i></button>
      </div>
      <div class="panel-body" ng-show="showFilterPanel">
        Set of filters
      </div>
    </div>
  </div>  
  
  <!-- Project description panel -->    
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          {{project.name | capitalize}}
        </div>
        <button class="btn btn-default panel-button" ng-click="showProjectDescription=!showProjectDescription"><i class="glyphicon glyphicon-resize-small"></i></button>
        <span class="badge owner-badge panel-button" style="right:-2px;top:-20px">{{newProject.shared ? LNG.shared : LNG.private}}</span>        
      </div>
      <div class="panel-body" ng-show="showProjectDescription">
        <div class="container-fluid">
          <span class="desc-label">{{LNG.owners | capitalize}}:</span>
          <span>{{project.owners | thru}}</span>
        </div>
        <div class="container-fluid">
          <span class="desc-label">{{LNG.created | capitalize}}:</span>
          <span>{{project.creation_date}}</span>
        </div>        
        <div class="container-fluid">
          <span class="desc-label">{{LNG.currency | capitalize}}:</span>
          <span>{{project.currency}}</span>
        </div>           
        <div class="container-fluid">
          <span class="desc-label">{{LNG.exchange_rate | capitalize}}:</span>
          <span>{{project.rate}}</span>
        </div>   
        <div class="container-fluid">
          <span class="desc-label">{{LNG.added | capitalize}}:</span>
          <span>{{project.flats.length}}</span>
        </div>          
        <div class="container-fluid">
          <span class="desc-label">{{LNG.description | capitalize}}:</span>
          <span>{{project.description}}</span>
        </div>          
      </div>      
    </div>
  </div>
</div>

<div class="specific_project">
  <div class="flats">
    <div ng-repeat="flat in project.flats">
      {{flat.address}} |   
      <a ng-href="{{flat.link}}">Link</a> | 
      {{flat.display == true ? 'show':'hide'}}
      {{flat.contact}} | 
      {{flat.floor}} | 
      {{flat.buildYear}} |
      {{flat.price | currency:currency:0}} |       
      <span ng-repeat="phone in flat.phones">
        {{phone.phone}},
      </span>
      <span ng-show="flat.owner"> | Owner </span><span ng-hide="flat.owner"> | Agent </span>
      <span ng-show="flat.callHistory=='toCall'"> | Call | </span><span ng-show="flat.callHistory=='called'"> | Called | </span><span ng-show="flat.callHistory=='callBack'"> | Call back | </span>
      
      <span ng-repeat="star in [1,2,3,4,5]"><span ng-show="star<=flat.stars">+</span></span>
      <span ng-repeat="star in [1,2,3,4,5]"><span ng-show="star>flat.stars">-</span></span>      
      
      | <span ng-show="flat.subway">Subway, </span><span ng-show="flat.shop">Shop, </span><span ng-show="flat.park">Park, </span><span ng-show="flat.school">School</span>
      <span ng-show="flat.modified!='update'"> | {{flat.modified}}</span><span ng-show="flat.modified=='update'"> | beeing edited</span> |
      <button ng-click="editorOn(flat);" ng-hide="toEdit==flat">edit</button>
      <button ng-click="del(flat)" ng-hide="toEdit==flat">del</button>
    </div>
  </div>
</div>

