<div id="map-scroller" class="map-controls">{{LNG.scrolling | capitalize}}</div>

<div class="control-buttons">
  <button class="btn btn-success" ng-click="editorOn()">
    <i class="glyphicon glyphicon-home"></i>&nbsp;{{LNG.new | capitalize}}
  </button>
  <button class="btn btn-success" ng-click="moveToMap()">
    <i class="glyphicon glyphicon-sunglasses"></i>&nbsp;{{LNG.map | capitalize}}
  </button>  
</div>

<div class="container-fluid">
  <!-- Editor panel -->
  <div class="col-md-4" ng-show="showEditor" id="editor">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">
          {{toEdit.name | capitalize}}
        </div>
        <button class="btn btn-default panel-button"><i class="glyphicon glyphicon-floppy-disk"></i></button>                
        <button class="btn btn-default panel-button" ng-click="editorOff()"><i class="glyphicon glyphicon-remove"></i></button>
        <span class="badge owner-badge" style="margin-right:-13px;">{{toEdit.display ? LNG.display : LNG.hide}}</span>                         
        <input class="project-header-btns" style="top:-22px; right:13px;" type="checkbox" ng-model="toEdit.display"></input>        
      </div>
      <div class="panel-body">
        <div ng-show="error!=''" class="alert alert-danger col-md-12">
          <b>{{LNG.error | capitalize}}:</b> {{error}}
        </div>      
        <form class="form-horizontal" role="form">
        <!-- Address -->
          <div class="form-group no-bottom">
            <div class="row custom-row">              
              <span class="control-label custom-label col-md-3" style="margin-top:7px;">{{LNG.address | capitalize}}:</span>            
              <div class="input-group col-md-9"> 
                <input type="text" class="form-control" ng-class="{'warning': warn_address}" ng-model="toEdit.address" ng-change="customFilter('address')" placeholder="{{LNG.address}}">
              </div>          
            </div>
          </div>
          <!-- Phones -->
          <div class="form-group no-bottom">
            <div class="row custom-row">          
              <span class="control-label custom-label col-md-3" style="">{{LNG.phone | capitalize}}:</span>
              <div class="input-group col-md-9">
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="tmpPhone=''"><i class="glyphicon glyphicon-erase"></i></button>
                  <button class="btn btn-default" ng-click="pushPhone()"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <input type="text" class="form-control" ng-class="{'warning': warn_phone}" ng-model="tmpPhone" ng-change="customFilter('phone')" ng-enter="pushPhone()" placeholder="{{LNG.phone}}">
              </div>  
              <div class="users-list-block">            
                <span class="label label-primary" ng-repeat="phone in toEdit.phones" ng-click="removePhone(phone)">{{phone.phone}}</span>
              </div>
            </div>
          </div> 
          <!-- Link -->
          <div class="form-group no-bottom">
            <div class="row custom-row">              
              <span class="control-label custom-label col-md-3">{{LNG.link | capitalize}}:</span>            
              <div class="input-group col-md-9"> 
                <input type="text" class="form-control" ng-class="{'warning': warn_link}" ng-model="toEdit.link" ng-change="customFilter('link')" placeholder="http://">
                <input-cleaner action="toEdit.link=''"></input-cleaner>
                </input>
              </div>          
            </div>
          </div>  
          <!-- Contact -->
          <div class="form-group no-bottom">
            <div class="row custom-row">              
              <span class="control-label custom-label col-md-3">{{LNG.contact | capitalize}}:</span>            
              <div class="input-group col-md-9"> 
                <input type="text" class="form-control" ng-class="{'warning': warn_contact}" ng-model="toEdit.contact" ng-change="customFilter('contact')" placeholder="{{LNG.contact}}">
                <input-cleaner action="toEdit.contact=''"></input-cleaner>
                </input>
              </div>          
            </div>            
          </div>
          <!-- Floor -->
          <div class="form-group no-bottom">
            <div class="row custom-row">              
              <span class="control-label custom-label col-md-3">{{LNG.floor | capitalize}}:</span>            
              <div class="input-group col-md-9"> 
                <input type="text" class="form-control" ng-class="{'warning': warn_floor}" ng-model="toEdit.floor" ng-change="customFilter('floor')" placeholder="{{LNG.floor}}">
                <input-cleaner action="toEdit.floor=''"></input-cleaner>
                </input>
              </div>          
            </div>            
          </div>  
          <!-- Build Year -->
          <div class="form-group no-bottom">
            <div class="row custom-row">              
              <span class="control-label custom-label col-md-3">{{LNG.year | capitalize}}:</span>            
              <div class="input-group col-md-9"> 
                <input type="text" class="form-control" ng-class="{'warning': warn_year}" ng-model="toEdit.buildYear" ng-change="customFilter('buildYear')" placeholder="{{LNG.year}}">
                <input-cleaner action="toEdit.buildYear=''"></input-cleaner>
                </input>
              </div>          
            </div>            
          </div>                    
        </form>
      </div>
    </div>
  </div>
  
  <!-- Filter panel -->  
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          {{LNG.filters | capitalize}}
        </div>
        <button class="btn btn-default panel-button" ng-click="showFilterPanel=!showFilterPanel"><i class="glyphicon glyphicon-resize-small"></i></button>
      </div>
      <div class="panel-body" ng-show="showFilterPanel">
        Set of filters
      </div>
    </div>
  </div>  
  
  <!-- Project description panel -->    
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          {{project.name | capitalize}}
        </div>
        <button class="btn btn-default panel-button" ng-click="showProjectDescription=!showProjectDescription"><i class="glyphicon glyphicon-resize-small"></i></button>
        <span class="badge owner-badge panel-button" style="right:-2px;top:-20px">{{newProject.shared ? LNG.shared : LNG.private}}</span>        
      </div>
      <div class="panel-body" ng-show="showProjectDescription">
        <div class="container-fluid">
          <span class="desc-label">{{LNG.owners | capitalize}}:</span>
          <span>{{project.owners | thru}}</span>
        </div>
        <div class="container-fluid">
          <span class="desc-label">{{LNG.created | capitalize}}:</span>
          <span>{{project.creation_date}}</span>
        </div>        
        <div class="container-fluid">
          <span class="desc-label">{{LNG.currency | capitalize}}:</span>
          <span>{{project.currency}}</span>
        </div>           
        <div class="container-fluid">
          <span class="desc-label">{{LNG.exchange_rate | capitalize}}:</span>
          <span>{{project.rate}}</span>
        </div>   
        <div class="container-fluid">
          <span class="desc-label">{{LNG.added | capitalize}}:</span>
          <span>{{project.flats.length}}</span>
        </div>          
        <div class="container-fluid">
          <span class="desc-label">{{LNG.description | capitalize}}:</span>
          <span>{{project.description}}</span>
        </div>          
      </div>      
    </div>
  </div>
</div>

<div class="specific_project">
<!--
  <div class="project_description">
    <b>Name:</b> {{project.name}} <span ng-show="project.shared">(shared)</span><span ng-hide="project.shared">(private)</span><br>
    <span ng-show="project.shared">
      <b>Owners:</b>
      <span ng-repeat="owner in project.owners">{{owner}} </span><br>
    </span>
    <b>Creation Date:</b> {{project.creation_date}}<br>    
    <b>Currency:</b> {{project.currency}}<br>
    <b>Exchange Rate:</b> {{project.rate}}<br>
    <b>Description:</b> {{project.description}}
  </div>
-->  
  <div class="controls">
    <button ng-click="toggleEditor()"><span ng-hide="isEditorOpen">New</span><span ng-show="isEditorOpen">Cancel New</span></button>
  </div>
  <div class="editor" ng-show="isEditorOpen">
    <div ng-repeat="phone in toEdit.phones">
      Phone {{$index + 1}}: <input type="text" ng-model="phone.phone"></input> <button ng-click="delPhone(phone)">del</button>
    </div>
   <button ng-click="addPhone()">More phones</button><br><br>
    Address: <input id="address" type="text" ng-model="toEdit.address"></input><br>
    Link: <input type="text" ng-model="toEdit.link"></input><br>
    Show on map: <input type="checkbox" ng-model="toEdit.display"></input><br>
    Contact: <input type="text" ng-model="toEdit.contact"></input><br>
<!-- ATTENTION TEMP FORMAT CHANGE FLOOR, BUILDYEAR-->    
    Floor: <input type="text" ng-model="toEdit.floor"></input><br>
    Price: <input type="number" ng-model="toEdit.price" ng-disabled="useConverter"></input>
    <input type="checkbox" ng-model="useConverter" ng-change="converterClick()"/>Use converter<br>
    <div class="converter" ng-show="useConverter">
      Exchange Rate: <input type="number" step="0.00001" ng-model="exchangeRate" ng-change="convertPrice()"/><br>
      Input Price: <input type="number" ng-model="inputCurrency" ng-change="convertPrice()"/>
    </div>
    Build Year: <input type="text" ng-model="toEdit.buildYear"/><br>    
    Call History: <select ng-options="callHist for callHist in callHistoryOptions" ng-model="toEdit.callHistory" ng-change="callHistoryChanged()"></select><br>
    Stars: <select ng-options="star for star in stars" ng-model="toEdit.stars"></select><br>
    Owner: <input type="checkbox" ng-model="toEdit.owner"/><br>    
    Subway: <input type="checkbox" ng-model="toEdit.subway"/><br>
    Shop: <input type="checkbox" ng-model="toEdit.shop"/><br>    
    Park: <input type="checkbox" ng-model="toEdit.park"/><br>    
    School: <input type="checkbox" ng-model="toEdit.school"/><br>
    
    Photos: <input type="file" nv-file-select="" uploader="uploader" ng-show="toEdit.images.length<max_images"/>
    <span ng-repeat="image in toEdit.images"><img ng-src="images/{{image.img}}" height="100" ng-click="removeImage(image)"></img><span ng-click="makeCover(image)">Cover</span></span>
    <ul>
      <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
          <button ng-click="item.upload()">upload</button>
          <button ng-click="item.remove()">remove</button>
      </li>
    </ul>
    <button ng-click="uploader.uploadAll()" ng-hide="!uploader.getNotUploadedItems().length">Upload All</button>
    <button ng-click="uploader.clearQueue()" ng-hide="!uploader.getNotUploadedItems().length">Remove All</button>    
    <br> 
    <input type="button" value="Confirm" ng-click="confirm()"/>
  </div>
  <div class="flats">
    <div ng-repeat="flat in project.flats">
      {{flat.address}} |   
      <a ng-href="{{flat.link}}">Link</a> | 
      {{flat.display == true ? 'show':'hide'}}
      {{flat.contact}} | 
      {{flat.floor}} | 
      {{flat.buildYear}} |
      {{flat.price | currency:currency:0}} |       
      <span ng-repeat="phone in flat.phones">
        {{phone.phone}},
      </span>
      <span ng-show="flat.owner"> | Owner </span><span ng-hide="flat.owner"> | Agent </span>
      <span ng-show="flat.callHistory=='toCall'"> | Call | </span><span ng-show="flat.callHistory=='called'"> | Called | </span><span ng-show="flat.callHistory=='callBack'"> | Call back | </span>
      
      <span ng-repeat="star in [1,2,3,4,5]"><span ng-show="star<=flat.stars">+</span></span>
      <span ng-repeat="star in [1,2,3,4,5]"><span ng-show="star>flat.stars">-</span></span>      
      
      | <span ng-show="flat.subway">Subway, </span><span ng-show="flat.shop">Shop, </span><span ng-show="flat.park">Park, </span><span ng-show="flat.school">School</span>
      <span ng-show="flat.modified!='update'"> | {{flat.modified}}</span><span ng-show="flat.modified=='update'"> | beeing edited</span> |
      <button ng-click="edit(flat)">edit</button>
      <button ng-click="del(flat)">del</button>
    </div>
  </div>
</div>

