<!-- scope values are taken from "meta" controller -->
<div id="social-share" class="hidden-xs">
  <button class="btn" socialshare socialshare-provider="vk" socialshare-text="{{LNG.meta_title}}" socialshare-description="{{LNG.meta_description}}" socialshare-url="http://estate-hunt.com"><i class="fa fa-vk"></i></button>
  <button class="btn" socialshare socialshare-provider="facebook" socialshare-text="{{LNG.meta_title}}" socialshare-description="{{LNG.meta_description}}" socialshare-url="http://estate-hunt.com"><i class="fa fa-facebook"></i></button>
  <button class="btn" socialshare socialshare-provider="ok" socialshare-text="{{LNG.meta_title}}" socialshare-description="{{LNG.meta_description}}" socialshare-url="http://estate-hunt.com"><i class="fa fa-odnoklassniki"></i></button>    
  <button class="btn" socialshare socialshare-provider="twitter" socialshare-text="{{LNG.meta_title}}" socialshare-hashtags="rentapartment, buyapartment, снятьквартиру, купитьквартиру" socialshare-url="http://estate-hunt.com"><i class="fa fa-twitter"></i></button>
</div>