<nav class="navbar navbar-default">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="images/logo_32x32.png" style="margin-top:-6px;"></a>    
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar" ng-repeat-start="i in [1,2,3]" ng-repeat-end=""></span>
      </button>
    </div>    
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--
        <li ng-class="{active: routerState.current.name=='workplace'}"><a ui-sref="workplace">{{LNG.workplace | capitalize}}</a></li>
        -->
        <li ng-class="{active: routerState.current.name=='login'}" ng-hide="isLogged"><a ui-sref="login">{{LNG.sign_in | capitalize}}</a></li>        
        <li ng-class="{active: routerState.current.name=='projects'}" ng-show="isLogged"><a ui-sref="projects">{{LNG.projects | capitalize}}</a></li>
        <li ng-class="{active: routerState.current.name=='about'}"><a ui-sref="about">{{LNG.about | capitalize}}</a></li>
        <li ng-class="{active: routerState.current.name=='contacts'}"><a ui-sref="contacts">{{LNG.contacts | capitalize}}</a></li>        
      </ul>
      <p class="navbar-text navbar-right" ng-show="isLogged">
        <a ng-href="#" ng-click='logout()'>{{LNG.sign_out | capitalize}}</a>
      </p>
      <p class="navbar-text navbar-right" ng-show="isLogged && routerState.current.name!='settings'">
        {{LNG.welcome | capitalize}}, <a ui-sref="settings" class="user_name">{{mail}}</a>
      </p>
    </div>
    
  </div>
</nav>